@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundcolor-login{
    background-image: linear-gradient(182deg, rgb(248, 249, 250) 0%,rgb(244, 247, 245)53.2%,rgb(247, 243, 243) 100%) !important;
}

.backgroundhome{
    background-image: linear-gradient(to top,rgb(40, 90, 24),rgb(40, 176, 24));
}

.backgroundbalai{
    background-image: linear-gradient(to right,rgb(40, 176, 24),rgb(40, 90, 24));
}
.backgroundnavbar{
    background-color: rgb(40, 176, 24);
}

.backgroundlokasi{
    background-image: linear-gradient(to right,rgb(40, 90, 24),rgb(40, 176, 24));
}
